### Compare Scraped SECC Data to Aggregated Output Posted on the SECC site

We compare the original scraped data to state total obtained from https://secc.gov.in/welcome

The state total CSV is posted [here](../data/secc_state.csv).

In [1]:
import pandas as pd
from io import StringIO

In [2]:
our = """state  hh
arunachal pradesh     1189638
assam                 7114232
bihar                54197114
chhattisgarh          8536248
gujarat              20474063
haryana               7928621
kerala               17805905
madhya pradesh       33788308
maharashtra       41188662
mizoram             120572
nagaland            854973
odisha            31567430
punjab             8848364
rajasthan         28359145
sikkim              266484
tamilnadu         30675056
uttar pradesh     74437606
uttarakhand        4425566
west bengal       48835606
"""

In [3]:
df1 = pd.read_csv(StringIO(our), delimiter='\s{2,}', engine="python")
df1

                state        hh
0   arunachal pradesh   1189638
1               assam   7114232
2               bihar  54197114
3        chhattisgarh   8536248
4             gujarat  20474063
5             haryana   7928621
6              kerala  17805905
7      madhya pradesh  33788308
8         maharashtra  41188662
9             mizoram    120572
10           nagaland    854973
11             odisha  31567430
12             punjab   8848364
13          rajasthan  28359145
14             sikkim    266484
15          tamilnadu  30675056
16      uttar pradesh  74437606
17        uttarakhand   4425566
18        west bengal  48835606

In [4]:
secc = """state	hh
01 - JAMMU & KASHMIR	2094081
02 - HIMACHAL PRADESH	1427365
03 - PUNJAB	5032199
04 - CHANDIGARH	214233
05 - UTTARAKHAND	1968773
06 - HARYANA	4630959
07 - NCT OF DELHI	3391313
08 - RAJASTHAN	13136591
09 - UTTAR PRADESH	32475784
10 - BIHAR	20074242
11 - SIKKIM	120014
12 - ARUNACHAL PRADESH	260217
13 - NAGALAND	379164
14 - MANIPUR	578939
15 - MIZORAM	226147
16 - TRIPURA	875621
17 - MEGHALAYA	554131
18 - ASSAM	6427614
19 - WEST BENGAL	20367144
20 - JHARKHAND	6041931
21 - ODISHA	9942101
22 - CHHATTISGARH	5714798
23 - MADHYA PRADESH	14723864
24 - GUJARAT	11629409
25 - DAMAN AND DIU	44968
26 - DADRA & NAGAR HAVELI	66571
27 - MAHARASHTRA	22962600
28 - ANDHRA PRADESH	12270164
28 - TELANGANA	8244441
29 - KARNATAKA	13139063
30 - GOA	302950
31 - LAKSHADWEEP	10929
32 - KERALA	7698556
33 - TAMILNADU	17521956
34 - PUDUCHERRY	279857
35 - ANDAMAN & NICOBAR ISLANDS	92717"""

In [5]:
df2 = pd.read_csv(StringIO(secc.lower()), delimiter='\t')
df2

                             state        hh
0             01 - jammu & kashmir   2094081
1            02 - himachal pradesh   1427365
2                      03 - punjab   5032199
3                  04 - chandigarh    214233
4                 05 - uttarakhand   1968773
5                     06 - haryana   4630959
6                07 - nct of delhi   3391313
7                   08 - rajasthan  13136591
8               09 - uttar pradesh  32475784
9                       10 - bihar  20074242
10                     11 - sikkim    120014
11          12 - arunachal pradesh    260217
12                   13 - nagaland    379164
13                    14 - manipur    578939
14                    15 - mizoram    226147
15                    16 - tripura    875621
16                  17 - meghalaya    554131
17                      18 - assam   6427614
18                19 - west bengal  20367144
19                  20 - jharkhand   6041931
20                     21 - odisha   9942101
21               22 - chhattisgarh   5714798
22             23 - madhya pradesh  14723864
23                    24 - gujarat  11629409
24              25 - daman and diu     44968
25       26 - dadra & nagar haveli     66571
26                27 - maharashtra  22962600
27             28 - andhra pradesh  12270164
28                  28 - telangana   8244441
29                  29 - karnataka  13139063
30                        30 - goa    302950
31                31 - lakshadweep     10929
32                     32 - kerala   7698556
33                  33 - tamilnadu  17521956
34                 34 - puducherry    279857
35  35 - andaman & nicobar islands     92717

!pip install fuzzywuzzy

In [6]:
import fuzzywuzzy.process as fwp

choices = list(df2.state)

def fmatch(row): 
    minscore=85 #or whatever score works for you
    choice,score = fwp.extractOne(row.state,choices)
    return choice if score > minscore else None

df1['df2_state'] = df1.apply(fmatch,axis=1)
mdf = pd.merge(df1, 
                  df2,
                  left_on='df2_state',
                  right_on='state',
                  suffixes=['_df1','_df2'],
                  how = 'outer') # assuming you want to keep unmatched records
mdf

/opt/venv37/lib/python3.7/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

,state_df1,hh_df1,df2_state,state_df2,hh_df2
0,arunachal pradesh,1189638.0,12 - arunachal pradesh,12 - arunachal pradesh,260217
1,assam,7114232.0,18 - assam,18 - assam,6427614
2,bihar,54197114.0,10 - bihar,10 - bihar,20074242
3,chhattisgarh,8536248.0,22 - chhattisgarh,22 - chhattisgarh,5714798
4,gujarat,20474063.0,24 - gujarat,24 - gujarat,11629409
5,haryana,7928621.0,06 - haryana,06 - haryana,4630959
6,kerala,17805905.0,32 - kerala,32 - kerala,7698556
7,madhya pradesh,33788308.0,23 - madhya pradesh,23 - madhya pradesh,14723864
8,maharashtra,41188662.0,27 - maharashtra,27 - maharashtra,22962600
9,mizoram,120572.0,15 - mizoram,15 - mizoram,226147
10,nagaland,854973.0,13 - nagaland,13 - nagaland,379164
11,odisha,31567430.0,21 - odisha,21 - odisha,9942101
12,punjab,8848364.0,03 - punjab,03 - punjab,5032199
13,rajasthan,28359145.0,08 - rajasthan,08 - rajasthan,13136591
14,sikkim,266484.0,11 - sikkim,11 - sikkim,120014
15,tamilnadu,30675056.0,33 - tamilnadu,33 - tamilnadu,17521956
16,uttar pradesh,74437606.0,09 - uttar pradesh,09 - uttar pradesh,32475784
17,uttarakhand,4425566.0,05 - uttarakhand,05 - uttarakhand,1968773
18,west bengal,48835606.0,19 - west bengal,19 - west bengal,20367144
19,NaN,NaN,NaN,01 - jammu & kashmir,2094081
20,NaN,NaN,NaN,02 - himachal pradesh,1427365
21,NaN,NaN,NaN,04 - chandigarh,214233
22,NaN,NaN,NaN,07 - nct of delhi,3391313
23,NaN,NaN,NaN,14 - manipur,578939
24,NaN,NaN,NaN,16 - tripura,875621
25,NaN,NaN,NaN,17 - meghalaya,554131
26,NaN,NaN,NaN,20 - jharkhand,6041931
27,NaN,NaN,NaN,25 - daman and diu,44968
28,NaN,NaN,NaN,26 - dadra & nagar haveli,66571
29,NaN,NaN,NaN,28 - andhra pradesh,12270164
30,NaN,NaN,NaN,28 - telangana,8244441
31,NaN,NaN,NaN,29 - karnataka,13139063
32,NaN,NaN,NaN,30 - goa,302950
33,NaN,NaN,NaN,31 - lakshadweep,10929
34,NaN,NaN,NaN,34 - puducherry,279857
35,NaN,NaN,NaN,35 - andaman & nicobar islands,92717

In [7]:
mdf['diff(Million)'] = (mdf.hh_df1 - mdf.hh_df2)/1e6
mdf

,state_df1,hh_df1,df2_state,state_df2,hh_df2,diff(Million)
0,arunachal pradesh,1189638.0,12 - arunachal pradesh,12 - arunachal pradesh,260217,0.929421
1,assam,7114232.0,18 - assam,18 - assam,6427614,0.686618
2,bihar,54197114.0,10 - bihar,10 - bihar,20074242,34.122872
3,chhattisgarh,8536248.0,22 - chhattisgarh,22 - chhattisgarh,5714798,2.821450
4,gujarat,20474063.0,24 - gujarat,24 - gujarat,11629409,8.844654
5,haryana,7928621.0,06 - haryana,06 - haryana,4630959,3.297662
6,kerala,17805905.0,32 - kerala,32 - kerala,7698556,10.107349
7,madhya pradesh,33788308.0,23 - madhya pradesh,23 - madhya pradesh,14723864,19.064444
8,maharashtra,41188662.0,27 - maharashtra,27 - maharashtra,22962600,18.226062
9,mizoram,120572.0,15 - mizoram,15 - mizoram,226147,-0.105575
10,nagaland,854973.0,13 - nagaland,13 - nagaland,379164,0.475809
11,odisha,31567430.0,21 - odisha,21 - odisha,9942101,21.625329
12,punjab,8848364.0,03 - punjab,03 - punjab,5032199,3.816165
13,rajasthan,28359145.0,08 - rajasthan,08 - rajasthan,13136591,15.222554
14,sikkim,266484.0,11 - sikkim,11 - sikkim,120014,0.146470
15,tamilnadu,30675056.0,33 - tamilnadu,33 - tamilnadu,17521956,13.153100
16,uttar pradesh,74437606.0,09 - uttar pradesh,09 - uttar pradesh,32475784,41.961822
17,uttarakhand,4425566.0,05 - uttarakhand,05 - uttarakhand,1968773,2.456793
18,west bengal,48835606.0,19 - west bengal,19 - west bengal,20367144,28.468462
19,NaN,NaN,NaN,01 - jammu & kashmir,2094081,NaN
20,NaN,NaN,NaN,02 - himachal pradesh,1427365,NaN
21,NaN,NaN,NaN,04 - chandigarh,214233,NaN
22,NaN,NaN,NaN,07 - nct of delhi,3391313,NaN
23,NaN,NaN,NaN,14 - manipur,578939,NaN
24,NaN,NaN,NaN,16 - tripura,875621,NaN
25,NaN,NaN,NaN,17 - meghalaya,554131,NaN
26,NaN,NaN,NaN,20 - jharkhand,6041931,NaN
27,NaN,NaN,NaN,25 - daman and diu,44968,NaN
28,NaN,NaN,NaN,26 - dadra & nagar haveli,66571,NaN
29,NaN,NaN,NaN,28 - andhra pradesh,12270164,NaN
30,NaN,NaN,NaN,28 - telangana,8244441,NaN
31,NaN,NaN,NaN,29 - karnataka,13139063,NaN
32,NaN,NaN,NaN,30 - goa,302950,NaN
33,NaN,NaN,NaN,31 - lakshadweep,10929,NaN
34,NaN,NaN,NaN,34 - puducherry,279857,NaN
35,NaN,NaN,NaN,35 - andaman & nicobar islands,92717,NaN

In [8]:
mdf[['hh_df1', 'hh_df2']].sum()

hh_df1    420613593.0
hh_df2    244921406.0
dtype: float64

In [10]:
mdf['times'] = mdf.hh_df1 / mdf.hh_df2
mdf

,state_df1,hh_df1,df2_state,state_df2,hh_df2,diff(Million),times
0,arunachal pradesh,1189638.0,12 - arunachal pradesh,12 - arunachal pradesh,260217,0.929421,4.571715
1,assam,7114232.0,18 - assam,18 - assam,6427614,0.686618,1.106823
2,bihar,54197114.0,10 - bihar,10 - bihar,20074242,34.122872,2.699834
3,chhattisgarh,8536248.0,22 - chhattisgarh,22 - chhattisgarh,5714798,2.821450,1.493709
4,gujarat,20474063.0,24 - gujarat,24 - gujarat,11629409,8.844654,1.760542
5,haryana,7928621.0,06 - haryana,06 - haryana,4630959,3.297662,1.712091
6,kerala,17805905.0,32 - kerala,32 - kerala,7698556,10.107349,2.312889
7,madhya pradesh,33788308.0,23 - madhya pradesh,23 - madhya pradesh,14723864,19.064444,2.294799
8,maharashtra,41188662.0,27 - maharashtra,27 - maharashtra,22962600,18.226062,1.793728
9,mizoram,120572.0,15 - mizoram,15 - mizoram,226147,-0.105575,0.533158
10,nagaland,854973.0,13 - nagaland,13 - nagaland,379164,0.475809,2.254890
11,odisha,31567430.0,21 - odisha,21 - odisha,9942101,21.625329,3.175127
12,punjab,8848364.0,03 - punjab,03 - punjab,5032199,3.816165,1.758349
13,rajasthan,28359145.0,08 - rajasthan,08 - rajasthan,13136591,15.222554,2.158790
14,sikkim,266484.0,11 - sikkim,11 - sikkim,120014,0.146470,2.220441
15,tamilnadu,30675056.0,33 - tamilnadu,33 - tamilnadu,17521956,13.153100,1.750664
16,uttar pradesh,74437606.0,09 - uttar pradesh,09 - uttar pradesh,32475784,41.961822,2.292096
17,uttarakhand,4425566.0,05 - uttarakhand,05 - uttarakhand,1968773,2.456793,2.247880
18,west bengal,48835606.0,19 - west bengal,19 - west bengal,20367144,28.468462,2.397764
19,NaN,NaN,NaN,01 - jammu & kashmir,2094081,NaN,NaN
20,NaN,NaN,NaN,02 - himachal pradesh,1427365,NaN,NaN
21,NaN,NaN,NaN,04 - chandigarh,214233,NaN,NaN
22,NaN,NaN,NaN,07 - nct of delhi,3391313,NaN,NaN
23,NaN,NaN,NaN,14 - manipur,578939,NaN,NaN
24,NaN,NaN,NaN,16 - tripura,875621,NaN,NaN
25,NaN,NaN,NaN,17 - meghalaya,554131,NaN,NaN
26,NaN,NaN,NaN,20 - jharkhand,6041931,NaN,NaN
27,NaN,NaN,NaN,25 - daman and diu,44968,NaN,NaN
28,NaN,NaN,NaN,26 - dadra & nagar haveli,66571,NaN,NaN
29,NaN,NaN,NaN,28 - andhra pradesh,12270164,NaN,NaN
30,NaN,NaN,NaN,28 - telangana,8244441,NaN,NaN
31,NaN,NaN,NaN,29 - karnataka,13139063,NaN,NaN
32,NaN,NaN,NaN,30 - goa,302950,NaN,NaN
33,NaN,NaN,NaN,31 - lakshadweep,10929,NaN,NaN
34,NaN,NaN,NaN,34 - puducherry,279857,NaN,NaN
35,NaN,NaN,NaN,35 - andaman & nicobar islands,92717,NaN,NaN